/* laura styles */
.main{
  width: 100%;
}

.resources{
  width: 100%;
  background-color: lightgray;
}

.btn btn-primary btn-lg px-4 me-md-2{
  color: red;
}
#question{
  font-family: sans-serif;
  font-size: 44px;
  color: red;
}

#headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 25px;
}

#byline{
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin: 50px 0px 20px 0px;
}

#hero{
  font-size: 2em;
  font-family: serif;
}

#note{
  background-color: #ffd200;
  color: black;
  text-align: center;
  margin: 50px 0px 30px 0px;

}


p{
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1.2em;
}

ul{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

li{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

h2{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 25px;
}

h3{
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding-top: 30px;
}

h4{
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: red;
  text-align: center;
}

credit {
  font-size: 12px;
  margin-top: 10px;
  margin-right: 35px;
  display: block;
  text-align: right;

}

figure {
  float: right;
  width: 45%;
  text-align: right;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.6em;
}

figure-2 {
  float: left;
  width: 55%;
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em 0.8em 0.5em 0em;
}


.center {
  display: block;
  margin: 0 auto;
  width: 50%;
}


#footer{
  width: 100%;
  background-color: black;
  font-size: 1em;
  color: white;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* this is nav top, top hat */

.nav-top{
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;

}




/* hero container */

.hero-container{
position: relative;
text-align: center;
color: white;
}

.hero-image{
  width: 100%;
}

.overlay{
  position: absolute;
  top:50%;
  width: 55%;

}

.overlay2{
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  color: white;
  background-color: black;
  opacity: 0.8;
  font-size: 12px;
  text-align: right;

}


.hero-head{
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  color: white;
  text-align: left;
  text-transform: uppercase;
  top: 50%;
  line-height: normal;
  transition-timing-function: ease;
  padding-bottom: 30px;
  padding-left: 50px;

}

.hero-subhead{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding-bottom: 30px;
}

.quote{
font-family: 'Montserrat', sans-serif;
color: #f23030;
font-size: 2em;
font-weight: 700;
float: right;
margin-top: 40px;
margin-bottom: 80px;
width: 65%;
}

.quote-attrib{
  font-size: .7em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: black;
  text-align: right;
}


/* Container holding the sidebar image and the text */

.sidebar {
  position: relative;
  font-size: .85em;
  color: brightwhite;
}
/* sidebar text */

.bottom-right {
  position: absolute;
  top: 38px;
  right: 66px;
  font-size: 1em;
  width: 30%;
  background-color: white;
  opacity: 80%

}
.background-img .overlay2{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.background-img .overlay2 {
    opacity: 1;
    width: 30%;
    height: 100%;
    background-color: rgba(255, 51, 51, 0.5);
}
.side-container{position:relative;
  }

.side-container img{width:100%;
 display:block;
 }

 /* unvisited link */
 a:link {
   color: red;
 }

 /* visited link */
 a:visited {
   color: red;
 }

 /* mouse over link */
 a:hover {
   color: black;
 }

 /* selected link */
 a:active {
   color: blue;
 }

.data{
  padding-top: 25px;
  padding-bottom: 35px;
}

.figure {
  float: right;
  margin: 10px 10px 10px 0;
}

.iframe{
  position: relative;
  overflow: hidden;
  width: 100%;
   /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/* media query */
@media (max-width:700px){
  .hero-head{
    font-size:1.5em;
  }
  .hero-subhead{
    font-size:1em;
  }
.overlay{
  position: absolute;
  top:20%;
  width: 65%;
}
.iframe{
  width: 360px;
  height: 215px;
}

.inote{
  padding: 10px 25px 0px 25px;
}

.quote{
  font-size: 1.5em;
}

.quote-attrib{
  font-size: 1em;
}
}

@media (max-width:992px){
  .hero-head{
    font-size:1.5em;
  }
  .hero-subhead{
    font-size:1em;
  }
  .overlay{
    position: absolute;
    top:50%;
    width: 65%;
  }
  .iframe{
    width: 360px;
    height: 215px;
  }
  .inote{
    padding: 10px 15px 0px 15px;
}

.quote{
  font-size: 1.5em;
}

.quote-attrib{
  font-size: 1em;
}
}

@media (max-width:600px){
  .hero-head{
    font-size:1.5em;
  }
  .hero-subhead{
    font-size:1em;
  }
  .overlay{
    position: absolute;
    top:20%;
    width: 65%;
  }
  .iframe{
    width: 360px;
    height: 215px;
  }
  .inote{
    padding: 10px 15px 0px 15px;
}
.quote{
  font-size: 1.5em;
}

.quote-attrib{
  font-size: 1em;
}
}

@media (max-width:500px){
  .iframe{
    width: 115px;
    height: 95px;
  }
  .inote{
    padding: 40px 10px 0px 10px;
}
.quote{
  font-size: 1.5em;
}

.quote-attrib{
  font-size: 1em;
}
}
