/*  styles for resume */

BODY{
font-family: 'Open Sans', Arial, sans-serif;
color: #444;
font-size: 1em;
}
#container{
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right:0;
}
.menu{
  margin: 0;
  padding: 0;
  text-align: center;
}

/*  style for name */

#name{
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*  style for title */

#title{
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #33485e;
  margin: 20px 0px 0px 0px;
}
/*  styles for sections */
.sectionheader{
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  background-color: #33485e;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

/*  style for job title */
.jobtitle{
  font-weight: 600;
  font-size: 1.5em;
}

/*  styles for job entity */
.organization{
  font-weight: 400;
  font-size: 1.25em;
}

/*  style for dates */
.date{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
/* style for degrees */
#degrees{
  margin: 5px 0px 0px 0px;
}
/*  styles for lists */

li{
  font-size: 1em;
}

menu-li{
  font-size: 1em;
  display: inline;
}

/* style for skills */
#do{
  margin: 5px 0px 0px 0px;
}
