/* midterm styles */


#content {
  margin: 0 auto;
  width: 900px;
}


h1{
  font-family: "Arial", Georgia, sans-serif;
  font-size: 24px;
}

h2{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size:20px;
}


p {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

blockquote {
  font: 20px normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #442850;
  margin-left: 180px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}
