/* midterm styles */


#content {
  margin: 0 auto;
  width: 900px;
}



h1{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}



p {
    font-family: Georgia, serif;
    font-size: 13px;
}

ul{
  font-family: Georgia, serif;
  font-size: 13px;
}

li{
  font-family: Georgia, serif;
  font-size: 13px;
}

blockquote {
  font: 20px normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #442850;
  margin-left: 180px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

#mast{
  width: 500px
}
