/* laura styles */

#headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#footer{
  background-color: black;
  font-size: 1em;
  font-color: white;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
}

p{
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1em;
}

h2{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}

figcaption {
  font-style: italic;
  font-size: 12px;
  margin-top: 0;
  display: block;
  text-align: center;
  margin-bottom: 30px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#footer{
  width=100%;
  background-color: black;
  font-size: 1em;
  color: white;
}
